@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default cursor */
* {
  cursor: none !important;
}

/* Show default cursor for touch devices */
@media (hover: none) {
  * {
    cursor: auto !important;
  }
  
  .custom-cursor {
    display: none !important;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE and Edge */
* {
  -ms-overflow-style: none;
}